body{
    margin: auto;
    padding: 0;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
    /*border: 2px solid green;*/
}

.logo{
    background-color: rgb(87, 180, 118);
   /* border: 2px solid black;*/
    border-radius: 50%;
    margin: 10px 0px 0px 10px;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;

}

.containerheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*border: 2px solid yellow;*/
    width: 100%
}
.twofirst{
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
}
.menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
    margin: 0px 0px 0px 30px;
}
a:hover{
    color: rgb(87, 180, 118);
}

.tele{
   /* border: 2px solid blue;*/
}

.block1{
    width: 95%;
    margin-left: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
    /*border: 2px solid red*/
}
.comp{
    width: 40%;
    height: 400px;
}

.rightside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.secondmain{
    list-style: none;
}
.second:before{
    content: "-"
}

h1{
    color: rgb(87, 180, 118);
}

@media (max-width:720px) {
    .comp{
        display: none;
    }
}