body{
    margin: auto;
    padding: 0;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
}



header{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
    /*border: 2px solid green;*/
}

.logo{
    background-color: rgb(87, 180, 118);
   /* border: 2px solid black;*/
    border-radius: 50%;
    margin: 10px 0px 0px 10px;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;

}

.containerheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    /*border: 2px solid yellow;*/
    width: 100%
}
.twofirst{
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
}
.menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
    margin: 0px 0px 0px 30px;
}
a:hover{
    color: rgb(87, 180, 118);
}

.tele{
   /* border: 2px solid blue;*/
   margin-right: 20px;
}

.block1{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap:nowrap;
    align-content: center;
    /*border: 2px solid red*/
}
.comp{
    width: 40%;
    height: 350px;
    margin-right: 50px;
    margin-left: 20px;
}

.rightside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
}

.secondmain{
    list-style: none;
}
.second:before{
    content: "-"
}

h1{
    color: rgb(87, 180, 118);
}
p{
    text-align: left;
}

@media (max-width:920px) {
    .comp{
        display: none;
    }
}

.prio{
    background-color: rgb(87, 180, 118);
 color: #fff;
 font-size: 16px;
 text-shadow: 0 1px 0 #757575;
 padding: 4px 0 5px 0;
 margin: 0;
 cursor: pointer;
 border: 0;
 border-top: 1px solid #87c286;
 border-right: 1px solid #0e780c;
 border-left: 1px solid #0e780c;
 border-bottom: 1px solid #0e780c;
 box-shadow: 0 -1px 0 #0e780c, 0 1px 0 #fff;
 width: 150px;
 border-radius: 2px;
}

.block2  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    margin:30px 0px 0px 20px;
    width: 95%;

}
.tov1{
    border: 2px solid black;
    margin: 30px 0px 0px 0px;
    text-align: center;
    min-width: 300px;
    width: calc(100%/3 - 15px);
}

